<ng-template [ngIf]="movie">
  <mat-card class="{{ movie.type }}">
    <section class="infos">
      <div class="content">
        <h2 data-testid="card-title" class="title">{{ movie.title }}</h2>

        <div class="body">
          <span data-testid="card-streaming"><strong>Plataforma:</strong> {{ movie.streaming }}</span>
          <span data-testid="card-duration"><strong>Duração:</strong> {{ movie.duration }}h</span>
          <span data-testid="card-year"><strong>Ano de lançamento:</strong> {{ movie.year }}</span>
        </div>
      </div>

      <div data-testid="img-category" class="image">
        <img src="../../../../assets/filmes/{{ movie.type }}.png" alt="" />
      </div>
    </section>

    <section class="actions">
      <button data-testid="delete-button" mat-stroked-button (click)="emitDeleteMovie.emit()">
        <mat-icon class="material-icons-outlined delete">delete</mat-icon>
      </button>

      <button data-testid="edit-button" mat-stroked-button (click)="emitEditMovie.emit()">
        <mat-icon class="material-icons-outlined edit">edit</mat-icon>
      </button>
    </section>
  </mat-card>
</ng-template>
