:host {
  mat-card {
    display: flex;
    background-color: var(--branco);
    align-items: center;
    border-left: 4px solid;
    border-radius: 18px;

    &.acao {
      border-left-color: #373b35;
    }

    &.aventura {
      border-left-color: #71a271;
    }

    &.comedia {
      border-left-color: #e5dd58;
    }

    &.drama {
      border-left-color: #004aad;
    }

    &.fantasia {
      border-left-color: #7c3be0;
    }

    &.romance {
      border-left-color: #ff5757;
    }

    &.terror {
      border-left-color: #cb6e25;
    }

    .infos {
      display: flex;
      flex-direction: column;
      color: var(--secondary-color);
      width: 100%;

      .header {
        .title {
          font-size: 1.375rem;
          font-weight: 700;
          text-transform: capitalize;
        }

        .year {
          font-size: 0.8rem;
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        font-size: 1rem;
      }
    }

    .image {
      width: 6rem;
      height: 5rem;

      img {
        width: 100%;
      }
    }
  }
}
