<section class="app-search">
  <app-movies-search
    (emitSearch)="getSearch($event)"
    (emitAddMovie)="openAddMovieModal(false)"
    (emitDeleteAllMovie)="deleteAllMovieList()"
  ></app-movies-search>
</section>

<ng-template [ngIf]="movieList.length > 0">
  <section data-testid="card-list" class="cards">
    <ng-container *ngFor="let movie of movieList; let i = index">
      <app-cards
        data-testid="card-movie"
        [movie]="movie"
        (emitDeleteMovie)="deleteMovieList(i)"
        (emitEditMovie)="openAddMovieModal(true, i, movie)"
      ></app-cards>
    </ng-container>
  </section>
</ng-template>
